<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
</head>
<body>

    <h1>Products Management</h1>

    <hr>

    <h2>Add Product</h2>

    <form method="POST">
        {% csrf_token %}

        <label>Product Name:</label>
        <input type="text" name="name" required>

        <br><br>

        <label>Price:</label>
        <input type="number" name="price" required>

        <br><br>

        <label>Stock:</label>
        <input type="number" name="stock" required>

        <br><br>
        <label>Category:</label>

<select name="category" required>
    {% for category in categories %}
        <option value="{{ category.id }}">
            {{ category.name }}
        </option>
    {% endfor %}
</select>

<br><br>

        <button type="submit">Add Product</button>
    </form>

    <hr>

    <h2>All Products</h2>

    <table border="1" cellpadding="10">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
        </tr>

        {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>₹{{ product.price }}</td>
            <td>{{ product.stock }}</td>
        </tr>
                
<th>Action</th>

<td>
    <a href="{% url 'delete_product' product.id %}">
        Delete
    </a>
</td>
<td>
    <a href="{% url 'edit_product' product.id %}">
        Edit
    </a>
</td>
        {% empty %}
        <tr>
            <td colspan="4">No Products Found</td>
        </tr>
        {% endfor %}
        


    </table>

</body>
</html>